<a href="https://colab.research.google.com/github/tanbujang/digitalskola_git_tutorial/blob/main/Basic_Programming_I_Conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Programming I: Conditions

Control Flow

In [ ]:
# Sequential
a=20
b=10
c=a-b
print("a-b =",c)

a-b = 10

In [ ]:
# Conditional
a = 3
b = 5
if a > b: #akan jadi False
   print("a is bigger than b")
else:
   print("a is smaller than b")
print("Done")

a is smaller than b
Done

## IF statement

Single Condition

In [ ]:
a = 4
if a == 3:
  print("a is three")
print("Done")

Done

Two Condition

In [ ]:
a = 5
b = 5
if a > b:
   print("a is bigger than b")
else:
   print("a is smaller than b")
print("Done")

a is smaller than b
Done

Multiple Condition

In [ ]:
a = 5
b = 5
if a > b:
   print("a is bigger than b")
elif a < b:
   print("a is smaller than b")
else:
   print("a and b is the same")

a and b is the same

In [ ]:
a = 6
if a == 1:
   print("a is 1")
elif a == 2:
   print("a is 2")
elif a == 3:
   print("a is 3")
elif a == 4:
   print("a is 4")
elif a == 5:
   print("a is 5")
else:
   print("a is other than 1, 2, 3, 4, or 5")

In [ ]:
#sebuah kondisi yang menyatakan error
a = False
if a:
  print("Success")
else:
  print("Error")

Error

Single Expression

In [ ]:
a = 7
b = 7
if a <= b:
   print("a is smaller than b")

a is smaller than b

Multiple Expression

In [ ]:
a = 3
b = 7
c = 20
if c > b or c < a:
  print("At least one of the expressions is True")
else:
  print("All expressions is False")

All expressions is False

In [ ]:
a = 3
b = 7
c = 20
if a < b and b < c or a > c and a == b or a == c:
   print("a is smaller than b")

a is smaller than b

Shorthand

In [ ]:
a = 3
if a == 3: 
  print("a is three")

a is three

In [ ]:
a = 3
if a == 3: print("a is three")

a is three

In [ ]:
a = 5
b = 5
if a==b:
  print("same")
else: 
  print("different")

same

In [ ]:
a = 5
b = 5
print("same") if a==b else print("different")

same

Nested If

In [ ]:
x = 41

if x > 20:
  print("Above twenty, ")
  if x > 40:
    print("and also above 40")
    if x > 50:
      print("and also above 50")
  else:
    print("but not above 40")
else:
  print("Below twenty")

Above twenty,
and also above 40

## Switch case

In [ ]:
# Python code
def switch_months(argument):
    switcher = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December"
    }
    return switcher.get(argument, "Invalid month")
print(switch_months(13))

Invalid month

In [ ]:
month = {	1:'January',
          2:'February',
          3:'March',
          4:'April',
          5:'May',
          6:'June',
          7:'July',
          8:'August',
          9:'September',
          10:'October',
          11:'November',
          12:'December'}
print(month[1])

January

### Input

In [ ]:
x = int(input())
print(type(x))

8
<class 'int'>

In [ ]:
x = int(input())

if x > 20:
  print("Above twenty, ")
  if x > 40:
    print("and also above 40")
  else:
    print("but not above 40")
else:
  print("Below twenty")

41
Above twenty,
and also above 40

# Cases

1. Given a number, determine whether that number is odd or even

ganjil: 1 3 5 7 9 11 13 ....  
genap : 2 4 6 8 10 12 ....

x % 2 == 0 -> genap  
x jika dibagi dengan 2, maka hasil baginya adalah 0

In [ ]:
x = int(input())

if x % 2 == 0:
  print("Even")
else:
  print("Odd")

13
Odd

2. Given a number, determine whether that number is positive, negative, or zero

In [ ]:
x = int(input())

if x > 0:
  print("positive")
elif x < 0:
  print("negative")
else:
  print("zero")

0
zero

3. A school has following rules for grading system:  
a. Below 50 - Bad  
b. 50 to 75 - Good  
c. Above 75 - Excellent  
Ask user to enter marks and print the corresponding grade.

In [ ]:
x = int(input())

if x < 50:
  print("bad")
elif (x >= 50) and (x <= 75):
  print("good")
elif x > 75:
  print("excellent")

76
excellent

In [ ]:
x = int(input())

if x < 50:
  print("bad")
elif x <= 75:
  print("good")
else:
  print("excellent")

76
excellent

4. Given a number, determine whether that number is positive, negative, or zero.  
 If the number is positive, determine whether the number is odd or even

In [ ]:
x = int(input())

if x > 0: #positif
  print("positive")
  if x % 2 == 0: #genap
    print("Even")
  else:
    print("Odd")
elif x < 0:
  print("negative")
else:
  print("zero")

-10
negative
Even